* {
  margin: 0;
  padding: 0;
}
.content {
  height: 610px;
  width: 610px;
  margin: 50px auto;
  position: relative;
}
.content .playB {
  background-color: #72f0f0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 120px;
  height: 40px;
  margin-left: -60px;
  margin-top: -20px;
}
.content .pauseB {
  background-color: #72f0f0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 60px;
  height: 30px;
  margin-left: -30px;
  margin-top: -15px;
  display: none;
}
.content .wrap {
  width: 600px;
  height: 600px;
  background-color: #94fd9a;
  border: 5px solid #0d5a03;
  position: relative;
}
.content .wrap .snakeH {
  background-color: #550808;
  border-radius: 0 10px 10px 0;
}
.content .wrap .snakeB {
  background-color: #f4ff5f;
  border-radius: 7px;
}
.content .wrap .snakeF {
  background-color: #ff0000;
}
